@model IEnumerable<AssessmentTask2.Models.Tutor>

@{
    ViewBag.Title = "Index";
}

<link href="~/Views/Tutors/TutorsIndex.css" rel="stylesheet" />

<h2>Manage Tutors</h2>

@using (Html.BeginForm())
{
    <p>
        Search by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TutorName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TutorName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TutorId }) |
                @Html.ActionLink("Details", "Details", new { id = item.TutorId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TutorId })
            </td>
        </tr>
    }

</table>
